# Env files 
.env
.env.local

# Firebase emulator state (can be regenerated)
.dataconnect/
.firebaserc

# Go build cache / binaries
bin/
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# IDE/editor
.vscode/
.idea/
.DS_Store

*.log
*.json
*.rules
cloudinary-proxy